*html,body{
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    /*background-image: url("timg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
}
html{
    width: 100%;
    height: 100%;
    background-image: url("timg.jpg");
    background-size: 100% 100%;
}
dialog{
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    top: 0;
    background-image: url("true.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
}
dialog div{
    position: absolute;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 45%;
    border: 1px solid pink;
    background-color: white;
    opacity: 0.5;
}
dialog  div button{
    opacity: 0.5;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    color: red;
}
#score{
    position: absolute;
    left: 500px;
    top: 80px;
    font-size: 50px;
    color: red;
}
img{
    position: absolute;
    width:450px;
    left: 700px;
    top: 55px;
}
canvas{
    left: 800px;
    top: 125px;
    position: absolute;
    z-index: -1;
    padding: 0;
}
#stop{
    position: absolute;
    background: darkblue;
    opacity: 0;
    width: 30px;
    height: 30px;
    left: 1018px;
    top: 615px;
}
#replay{
    position: absolute;
    background: aqua;
    opacity: 0;
    width: 30px;
    height: 30px;
    left: 1068px;
    top: 615px;
}
#continue{
    position: absolute;
    background: red;
    opacity: 0;
    width: 110px;
    height: 120px;
    left: 978px;
    top: 690px;
}